---
name: Foreman Plugin

on:
  workflow_call:
    inputs:
      plugin:
        description: Plugin name
        required: true
        type: string
      foreman_version:
        description: Foreman version to use
        default: 'develop'
        required: false
        type: string
      foreman_repository:
        description: Foreman repository to use
        default: 'theforeman/foreman'
        required: false
        type: string
      matrix_include:
        description: Additional test matrix combinations to include
        default: '[]'
        required: false
        type: string
      matrix_exclude:
        description: Test matrix combinations to exclude
        default: '[]'
        required: false
        type: string
      postgresql_container:
        description: PostgreSQL container to use
        default: 'postgres'
        required: false
        type: string

env:
  RAILS_ENV: test
  DATABASE_URL: postgresql://postgres:password@localhost/test
  DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL: true
  BUNDLE_WITHOUT: "console:development:journald:libvirt"

jobs:
  setup_matrix:
    name: Setup matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.build_matrix.outputs.matrix }}
    steps:
      - name: Build test matrix
        id: build_matrix
        uses: theforeman/gha-matrix-builder@v0
        with:
          repository: ${{ inputs.foreman_repository }}
          ref: ${{ inputs.foreman_version }}
          include: ${{ inputs.matrix_include }}
          exclude: ${{ inputs.matrix_exclude }}

  test:
    name: "Foreman ${{ inputs.foreman_version }} with Ruby ${{ matrix.ruby }} and Node ${{ matrix.node }} on PostgreSQL ${{ matrix.postgresql }}"
    needs: setup_matrix
    runs-on: ubuntu-latest
    services:
      postgres:
        image: '${{ inputs.postgresql_container }}:${{ matrix.postgresql }}'
        ports: ['5432:5432']
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        env:
          POSTGRES_PASSWORD: password
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup_matrix.outputs.matrix) }}
    steps:
      - run: sudo apt-get update
      - run: sudo apt-get install -y build-essential libcurl4-openssl-dev zlib1g-dev libpq-dev
      - name: "Check out Foreman ${{ inputs.foreman_version }}"
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.foreman_repository }}
          ref: ${{ inputs.foreman_version }}
      - name: Check out plugin
        uses: actions/checkout@v4
        with:
          path: ${{ inputs.plugin }}
      - name: Set up plugin in Foreman
        run: |
          echo "gemspec name: '${{ inputs.plugin }}', path: '${{ inputs.plugin }}'" > "bundler.d/${{ inputs.plugin }}.local.rb"
          if [ -d ${{ inputs.plugin }}/gemfile.d ] ; then
            cat ${{ inputs.plugin }}/gemfile.d/*.rb >> bundler.d/${{ inputs.plugin }}.local.rb
          fi
      - name: "Set up Ruby ${{ matrix.ruby }}"
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Archive Gemfile.lock
        uses: actions/upload-artifact@v3
        with:
          name: Gemfile.lock
          path: Gemfile.lock
      - name: "Set up Node ${{ matrix.node }}"
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - name: "Build package-lock.json"
        if: ${{ hashFiles('${{ inputs.plugin }}/package.json') != '' }}
        run: bundle exec npm install --package-lock-only --no-audit
      - name: "Set up Node ${{ matrix.node }} cache"
        if: ${{ hashFiles('${{ inputs.plugin }}/package.json') != '' }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - name: "Install NPM packages"
        if: ${{ hashFiles('${{ inputs.plugin }}/package.json') != '' }}
        run: bundle exec npm ci --no-audit
      - name: Prepare test env
        run: |
          bundle exec rake db:create
          bundle exec rake db:migrate
      - name: "Compile webpack"
        if: ${{ hashFiles('${{ inputs.plugin }}/package.json') != '' }}
        run:
          bundle exec rake webpack:compile
      - name: Run plugin tests
        run: bundle exec rake test:${{ inputs.plugin }}

  database:
    name: "Database - Foreman ${{ inputs.foreman_version }} with Ruby ${{ matrix.ruby }} and Node ${{ matrix.node }} on PostgreSQL ${{ matrix.postgresql }}"
    needs: setup_matrix
    runs-on: ubuntu-latest
    services:
      postgres:
        image: '${{ inputs.postgresql_container }}:${{ matrix.postgresql }}'
        ports: ['5432:5432']
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        env:
          POSTGRES_PASSWORD: password
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup_matrix.outputs.matrix) }}
    steps:
      - run: sudo apt-get update
      - run: sudo apt-get install -y build-essential libcurl4-openssl-dev zlib1g-dev libpq-dev
      - name: "Check out Foreman ${{ inputs.foreman_version }}"
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.foreman_repository }}
          ref: ${{ inputs.foreman_version }}
      - name: "Set up Ruby ${{ matrix.ruby }}"
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Prepare test env
        run: |
          bundle exec rake db:create
          bundle exec rake db:migrate
          bundle exec rake db:seed
      - name: Check out plugin
        uses: actions/checkout@v4
        with:
          path: ${{ inputs.plugin }}
      - name: Set up plugin in Foreman
        run: |
          echo "gemspec name: '${{ inputs.plugin }}', path: '${{ inputs.plugin }}'" > "bundler.d/${{ inputs.plugin }}.local.rb"
          if [ -d ${{ inputs.plugin }}/gemfile.d ] ; then
            cat ${{ inputs.plugin }}/gemfile.d/*.rb >> bundler.d/${{ inputs.plugin }}.local.rb
          fi
      - name: Install plugin
        run: bundle install
      - name: Run plugin db migrations and seeds
        run: |
          bundle exec rake db:migrate
          bundle exec rake db:seed
