---
name: Test

on:
  workflow_call:
    inputs:
      working-directory:
        description: The working directory where all jobs should be executed
        default: '.'
        required: false
        type: string
      command:
        description: The command used to test
        default: bundle exec rake spec
        required: false
        type: string

jobs:
  setup_matrix:
    name: "Determine Ruby versions"
    runs-on: ubuntu-latest
    outputs:
      ruby: ${{ steps.ruby.outputs.versions }}
    steps:
      - id: ruby
        uses: ekohl/ruby-version@v0

  test:
    name: "Ruby ${{ matrix.ruby }}"
    runs-on: ubuntu-latest
    needs: setup_matrix
    strategy:
      fail-fast: false
      matrix:
        ruby: ${{ fromJSON(needs.setup_matrix.outputs.ruby) }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          working-directory: ${{ inputs.working-directory }}
      - name: Verify gemspec
        run: |
          if compgen -G "*.gemspec" > /dev/null ; then
            gem build --strict *.gemspec
          fi
        working-directory: ${{ inputs.working-directory }}
      - name: Run tests
        run: ${{ inputs.command }}
        working-directory: ${{ inputs.working-directory }}
